<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chlang.mapper.HistoryDayKDataMapper">
  <resultMap id="BaseResultMap" type="com.chlang.entity.HistoryDayKData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="open" jdbcType="DECIMAL" property="open" />
    <result column="high" jdbcType="DECIMAL" property="high" />
    <result column="low" jdbcType="DECIMAL" property="low" />
    <result column="close" jdbcType="DECIMAL" property="close" />
    <result column="preclose" jdbcType="DECIMAL" property="preclose" />
    <result column="volume" jdbcType="BIGINT" property="volume" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="adjustflag" jdbcType="TINYINT" property="adjustflag" />
    <result column="turn" jdbcType="DECIMAL" property="turn" />
    <result column="tradestatus" jdbcType="TINYINT" property="tradestatus" />
    <result column="pctChg" jdbcType="DECIMAL" property="pctchg" />
    <result column="peTTM" jdbcType="DECIMAL" property="pettm" />
    <result column="psTTM" jdbcType="DECIMAL" property="psttm" />
    <result column="pcfNcfTTM" jdbcType="DECIMAL" property="pcfncfttm" />
    <result column="pbMRQ" jdbcType="DECIMAL" property="pbmrq" />
    <result column="isST" jdbcType="TINYINT" property="isst" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <select id="getKDataByCode" resultType="com.chlang.common.resp.bean.KData">
    select
      k.id as id,
      k.date as date,
      k.code as code,
      k.open as open,
      k.high as high,
      k.low as low,
      k.close as close,
      k.preclose as preclose,
      k.volume as volume,
      k.amount as amount,
      k.adjustflag as adjustflag,
      k.turn as turn,
      k.tradestatus as tradestatus,
      k.pctChg as pctChg,
      k.peTTM as peTTM,
      k.psTTM as psTTM,
      k.pcfNcfTTM as pcfNcfTTM,
      k.pbMRQ as pbMRQ,
      k.isST as isST,
      s.code_name as codeName
    from history_day_k_data k
      left join stock s on s.code = k.code
    where
      k.code = #{code}
    order by k.date desc
  </select>
  <select id="getKData" resultType="com.chlang.common.resp.bean.KData">
    select
      k.id as id,
      k.date as date,
      k.code as code,
      k.open as open,
      k.high as high,
      k.low as low,
      k.close as close,
      k.preclose as preclose,
      k.volume as volume,
      k.amount as amount,
      k.adjustflag as adjustflag,
      k.turn as turn,
      k.tradestatus as tradestatus,
      k.pctChg as pctChg,
      k.peTTM as peTTM,
      k.psTTM as psTTM,
      k.pcfNcfTTM as pcfNcfTTM,
      k.pbMRQ as pbMRQ,
      k.isST as isST,
      s.code_name as codeName
    from history_day_k_data k
      left join stock s on s.code = k.code
    <where>
      <if test="code != null and code != ''">
        k.code = #{code}
      </if>
      and k.date = #{date}
    </where>
    order by k.id asc
  </select>
  <select id="getLastDay" resultType="java.lang.String">
    select k.date from history_day_k_data k order by k.date desc limit 1
  </select>
  <select id="getLastDayByCount" resultType="java.lang.String">
    select k.date from history_day_k_data k
    <where>
      k.date &lt;= #{date}
    </where>
    GROUP BY k.date order by k.date desc limit #{count}
  </select>

</mapper>